.sidebar-nav {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 65px;
  background: #0d0d0d;
  border-radius: 50px;
  padding: 20px 10px;
  overflow: hidden;
  transition: width 0.3s ease;
}

.sidebar-nav:hover {
  width: 180px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  color: #adb5bd;
  white-space: nowrap;
  transition: 0.2s;
  font-size: 15px;
}

.sidebar-nav .nav-link i {
  font-size: 22px;
  color: #fff;
}

.sidebar-nav .nav-link span {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar-nav:hover .nav-link span {
  opacity: 1;
}

.nav-link.active,
.nav-link:hover {
  color: #00e6ff !important;
}
