.vertical-timeline * {
  box-sizing: border-box;
}

.vertical-timeline {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 2em 0;
}

.vertical-timeline::after {
  content: '';
  display: table;
  clear: both;
}

.vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: var(--line-color, #0563bb);
  margin-left: -2px;
}

.vertical-timeline--two-columns {
  width: 90%;
}

.vertical-timeline-element {
  position: relative;
  margin: 2em 0;
}

.vertical-timeline-element > div {
  min-height: 1px;
}

.vertical-timeline-element:after {
  content: '';
  display: table;
  clear: both;
}

.vertical-timeline-element:first-child {
  margin-top: 0;
}

.vertical-timeline-element:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
    margin: 4em 0;
  }

  .vertical-timeline-element:first-child {
    margin-top: 0;
  }

  .vertical-timeline-element:last-child {
    margin-bottom: 0;
  }
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-timeline-element-icon.shadow-size-small {
  box-shadow: 0 0 0 2px #2e2e2e, inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-icon.shadow-size-medium {
  box-shadow: 0 0 0 3px #2e2e2e, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 5px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-icon.shadow-size-large {
  box-shadow: 0 0 0 4px #2e2e2e, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 4px 0 6px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-icon svg {
  display: block;
  width: 24px;
  height: 24px;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 60px;
    height: 60px;
    margin-left: -30px;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-icon svg {
    width: 30px;
    height: 30px;
  }
}

.vertical-timeline-element-icon {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  opacity: 1;
  -webkit-animation: cd-bounce-1 0.6s ease-out;
  -moz-animation: cd-bounce-1 0.6s ease-out;
  animation: cd-bounce-1 0.6s ease-out;
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  background: #343a40;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.vertical-timeline-element-content:after {
  content: '';
  display: table;
  clear: both;
}

.vertical-timeline-element-content h3 {
  color: rgba(255, 255, 255, 0.9);
  margin: 0;
  font-weight: 600;
  font-size: 1.1em;
}

.vertical-timeline-element-content h4 {
  color: #b0b8bf;
  margin: 0.5em 0 1em 0;
  font-weight: 400;
  font-size: 0.95em;
}

.vertical-timeline-element-content ul {
  font-size: 0.9em;
  color: #8a9199;
  margin: 0;
  padding-left: 20px;
  line-height: 1.6;
}

.vertical-timeline-element-content li {
  margin-bottom: 8px;
}

.vertical-timeline-element-content p {
  font-size: 13px;
  font-weight: 500;
  margin: 1em 0 0;
  line-height: 1.6;
}

.vertical-timeline-element-title {
  margin: 0;
}

.vertical-timeline-element-subtitle {
  margin: 0;
}

.vertical-timeline-element-date {
  font-size: 0.85em;
  color: #74808a;
  margin-top: 15px;
  display: block;
}

.vertical-timeline-element-content-arrow {
  content: '';
  position: absolute;
  top: 16px;
  left: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: 7px solid #343a40;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-element-content h3 {
    font-size: 1.3em;
  }

  .vertical-timeline-element-content p {
    font-size: 16px;
  }

  .vertical-timeline-element-content .vertical-timeline-element-date {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
    top: 24px;
    left: 100%;
    transform: rotate(180deg);
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    position: absolute;
    width: 100%;
    left: 124%;
    top: 6px;
    font-size: 16px;
  }

  .vertical-timeline--two-columns .vertical-timeline-element--right .vertical-timeline-element-content,
  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content {
    float: right;
    margin-right: 0;
    margin-left: 0;
  }

  .vertical-timeline--two-columns .vertical-timeline-element--right .vertical-timeline-element-content-arrow,
  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow {
    top: 24px;
    left: auto;
    right: 100%;
    transform: rotate(0);
    border-left: unset;
    border-right: 7px solid #343a40;
  }

  .vertical-timeline--two-columns .vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date,
  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
    left: auto;
    right: 124%;
    text-align: right;
  }

  .vertical-timeline--two-columns .vertical-timeline-element--left .vertical-timeline-element-content {
    margin-left: 60px;
    margin-right: 0;
  }
}

.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  visibility: visible;
  opacity: 1;
  -webkit-animation: cd-bounce-2 0.6s ease-out;
  -moz-animation: cd-bounce-2 0.6s ease-out;
  animation: cd-bounce-2 0.6s ease-out;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element--right .vertical-timeline-element-content.bounce-in,
  .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline::before {
    left: 20px;
  }

  .vertical-timeline-element-icon {
    left: 20px;
    margin-left: -20px;
  }

  .vertical-timeline-element-content {
    margin-left: 70px;
  }

  .vertical-timeline-element-content-arrow {
    left: 100%;
  }
}
